div(id="newProjectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  div(class="modal-header")
    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
      h3 Nuevo proyecto

div(class="modal-body")
 p One fine body

div(class="modal-footer")
  button(class="btn" data-dismiss="modal" aria-hidden="true") Cancelar
  button(class="btn btn-primary") Crear
