extends ./layout.jade

block meta
block link
block title
block navbar-header
block subnavbar
    div(class="subnavbar")
        div(class="subnavbar-inner")
          div(class="container")
            ul(class="mainnav")
              li(class="active")
                a(href="#")
                  i(class="icon-dashboard")
                  span Dashboard
              li
                a(href="#newUserHistoryModal" data-toggle="modal")
                  i(class="icon-tasks")
                  span Crear Historia de Usuario

block content
    div(class="container-fluid")
        div(class="row")
            div(class="modal-body")
              form(action="/addBacklog/#{idProy}", method="POST")
                h3 Registro de backlog
            
                div(class="form-group")
                  input(type="text" class="form-control" name="desc" id="desc" placeholder="Descripcion")

                div(class="form-group")
                  input(type="text" class="form-control" name="tiempo" id="tiempo" placeholder="Tiempo estimado")

                div(class="form-group")
                  input(type="text" class="form-control" name="prioridad" id="prioridad" placeholder="Prioridad")

                div(class="form-group")
                  input(type="text" class="form-control" name="estado" id="estado" placeholder="Estado")

                div(class="form-group")
                  input(type="text" class="form-control" name="creador" id="creador" placeholder="Creador tarjeta")
                
                div
                input(type="submit" value="Aceptar" class="btn btn-info")
              
block footer

block script
Fin de la conversación
