extends ./layout.jade

block meta
block link
block title
block navbar-header
block subnavbar-header

block content
  div(class="main")
    div(class="main-inner")
      div(class="container")
        div(class="row")
          div(class="span12")
            div(class="widget widget-nopad")
              div(class="widget-header")
                i(class="icon-list-alt")
                h3 Registro de backlog
              div(class="widget-content")
                div(style="padding: 15px;")
                  form(ng-submit="saveUserHistory('#{idProy}')")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.narrativa" name="narrativa" id="narrativa" placeholder="Narrativa")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.como" name="como" id="como" placeholder="Como")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.detalmanera" name="detalmanera" id="detalmanera" placeholder="De tal manera")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.quiero" name="quiero" id="quiero" placeholder="Quiero")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.creadorTarjeta" name="creadorTarjeta" id="creadorTarjeta" placeholder="Creador tarjeta")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.prioridad" name="prioridad" id="prioridad" placeholder="Prioridad")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.tamanio" name="tamanio" id="tamanio" placeholder="Tamaño")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.criteriosAceptacion" name="criteriosAceptacion" id="criteriosAceptacion" placeholder="Criterios de Aceptacion")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.dado" name="dado" id="dado" placeholder="Dado")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.cuando" name="cuando" id="cuando" placeholder="Cuando")
                    div(class="form-group")
                      input(type="text" class="form-control span4" ng-model="userHistory.entonces" name="entonces" id="entonces" placeholder="Entonces")      
                    div
                      input(type="submit" value="Aceptar" class="btn btn-info")
                    div(class="alert" style="margin-top: 10px;" ng-show="!userHistorys.length")
                      button(type="button" class="close" data-dismiss="alert") ×
                      | No hay historias de usuario
                    // Post-it's de proyectos.
                    style.
                      .ul-li-a {
                        border: 1px solid #BDBDBD;
                        text-decoration:none;
                        color: #000;
                        background: #ffc;
                        display: block;
                        width: 28%;
                        padding: 1em;
                        box-shadow: 10px 10px 5px #a4a4a4;
                       }
                    div(class="widget widget-table action-table" style="margin-top: 10px;")
                      div(class="widget-header")
                        i(class="icon-th-list")
                        h3 Historias de usuario

                      div(class="widget-content" style="padding: 20px;")
                        div(class="flip-container" ntouchstart="this.classList.toggle('hover');" ng-repeat="item in historias")
                          a(href="#editarHistoria" role="button" class="btn" data-toggle="modal" ng-click="showEditbacklog($index)")
                            i(class="btn-icon-only icon-edit")      
                          if hayProductOwner 
                            a(href="#aceptarHistoria" role="button" class="btn")
                              i(class="btn-icon-only icon-ok-sign")
                            a(href="#rechazarHistoria" role="button" class="btn")
                              i(class="btn-icon-only icon-remove")  
                          div(class="flipper")
                            div(class="front")
                              ul(style="list-style:none; overflow: hidden; padding: 1em; margin: 1em; float: left;")
                                li(sytle="list-style:none; margin: 1em; float: left;")
                                  h2 {{item.narrativa}}
                                  p Como: {{item.como}}
                                  p De tal manera: {{item.detalmanera}}
                                  p Quiero: {{item.quiero}}
                                  p Creador {{item.creadorTarjeta}}
                                  p Prioridad {{item.prioridad}}
                                  p Tamaño {{item.tamanio}}
                            div(class="back")
                              ul(style="list-style:none; overflow: hidden; padding: 1em; margin: 1em; float: left;")
                                li(sytle="list-style:none; margin: 1em; float: left;")
                                  h2 Critérios de aceptación 
                                  p {{item.criteriosAceptacion}}
                                  p Dado: {{item.dado}}
                                  p Cuando: {{item.cuando}}
                                  p Entonces: {{item.entonces}}

                    div(class="widget widget-table action-table" style="margin-top: 10px;")
                      div(class="widget-header")
                        i(class="icon-th-list")
                        h3 Backlog Release
                      div(class="widget-content" style="padding: 20px;")
                        h2 HOT AND COLD
                              
  div(id="editarHistoria" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    div(class="modal-header")
      button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
      h3 Editar historia de usuario
    div(class="modal-body")
      form()
        div(class="form-group")
          label Narrativa:
          input(type="text" class="form-control span4" ng-model="historyToEdit.narrativa" name="narrativa" id="narrativa" placeholder="Narrativa")
        div(class="form-group")
          label Como:
          input(type="text" class="form-control span4" ng-model="historyToEdit.como" name="como" id="como" placeholder="Como")
        div(class="form-group")
          label De tal manera:
          input(type="text" class="form-control span4" ng-model="historyToEdit.detalmanera" name="detalmanera" id="detalmanera" placeholder="De tal manera")
        div(class="form-group")
          label Quiero:
          input(type="text" class="form-control span4" ng-model="historyToEdit.quiero" name="quiero" id="quiero" placeholder="Quiero")
        div(class="form-group")
          label Creador de tarjeta:
          input(type="text" class="form-control span4" ng-model="historyToEdit.creadorTarjeta" name="creador" id="creador" placeholder="Creador tarjeta")
        div(class="form-group")
          label Prioridad:
          input(type="text" class="form-control span4" ng-model="historyToEdit.prioridad" name="prioridad" id="prioridad" placeholder="Prioridad")
        div(class="form-group")
          label Tamaño:
          input(type="text" class="form-control span4" ng-model="historyToEdit.tamanio" name="tamanio" id="tamanio" placeholder="Tamaño")

        div(class="modal-footer")
          button(class="btn" data-dismiss="modal" aria-hidden="true") Cerrar
          button(class="btn btn-primary" ng-click="editbacklog()" data-dismiss="modal" aria-hidden="true") Guardar
  br
  script.
    document.getElementById("newproject").style.visibility = "hidden";

block footer
block script
