div(id="eliminarProyeto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
  div(class="modal-header")
    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
    h3 Eliminar proyecto
  div(class="modal-body")
    p ¿Estás seguro de eliminar el proyecto?
  div(class="modal-footer")
    button(class="btn btn-success" data-dismiss="modal" aria-hidden="true") No
    input(type="submit" class="btn btn-danger" value="Sí" name="siDelete")  
