doctype html
html(lang="es")


head
  
  block meta
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="apple-mobile-web-app-capable" content="yes")
  block link
  link(href="/styles/template/bootstrap.min.css" rel="stylesheet")
  link(href="/styles/template/bootstrap-responsive.min.css" rel="stylesheet")
  link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet")
  
  link(href="/styles/template/font-awesome.css" rel="stylesheet")
  link(href="/styles/template/style.css" rel="stylesheet")
  link(href="/styles/pages/dashboard.css" rel="stylesheet")
  block title
  title #{titulo} | B&B Projects

body

  block navbar-header
  div(class="navbar navbar-fixed-top")
    div(class="navbar-inner")
      div(class="container")
        a(class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
          span(class="icon-bar")
            span(class="icon-bar")
              span(class="icon-bar")
        a(class="brand" href="/dahsboard") B&B Projects
    
        div(class="nav-collapse")
          ul(class="nav pull-right")
            li(class="dropdown")
              a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                i.icon-user
                span(style="padding-left:5px;") usuario@mail.com 
                b(class="caret")
              ul(class="dropdown-menu")
                li
                  a(href="/profile") 
                    |  Ver Perfil
                li 
                  a(href="javascript:;")
                    | Configurar cuenta
                li
                  a(href="/") 
                    | Cerrar sesión
              
          form(class="navbar-search pull-right")
            input(type="text" class="search-query" placeholder="Buscar proyecto")
  block subnavbar-header
  div(class="subnavbar")
    div(class="subnavbar-inner")
      div(class="container")
        ul(class="mainnav")
          li(class="active")
            a(href="index.html")
              i(class="icon-dashboard")
              span Dashboard

          li
            a(href="#newProjectModal" data-toggle="modal")
              i(class="icon-tasks")
              span Crear proyecto
            
          li
            a(href="guidely.html")
              i(class="icon-facetime-video")
              span App Tour
              
          li
            a(href="charts.html")
              i(class="icon-bar-chart")
              span Charts
              
          li
            a(href="shortcodes.html")
              i(class="icon-code")
              span Shortcodes
              
          li(class="dropdown")
            a(href="javascript:;" class="dropdown-toggle" data-toggle="dropdown")
              i(class="icon-long-arrow-down")
              span Drops
              b(class="caret")
            ul(class="dropdown-menu")
              li 
                a(href="icons.html") Icons
              li
                a(href="faq.html") FAQ
              li
                a(href="pricing.html") Pricing Plans
              li
                a(href="login.html") Login
              li
                a(href="signup.html") Signup
              li
                a(href="error.html") 404
  block content
  div(class="main")
  block footer
  div(class="footer")
    div(class="footer-inner")
      div(class="container")
        div(class="row")
          div(class="span12" class="text-center") &copy; 2016
            a(href="http://www.egrappler.com/" class="text-center")  B&B Projects
  
  block newProjectModal
  div(class="modal fade" tabindex="-1" role="dialog" id="newProjectModal")
    div(class="modal-dialog modal-md")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
          h3 Nuevo proyecto

        div(class="modal-body")
          form(action="dashboard",method='POST')
            div(class="form-group")
              div(class="col-md-12")
                label(for="nombreProyecto") Nombre del proyecto:
                input(type="text" class="form-control" name="nombreProyecto" id="nombreProyecto")
              div(class="form-group")
                div(class="col-md-12")
                  label(for="fechaSolicitud") Fecha de solicitud:
                  input(type="text" class="form-control" name="fechaSolicitud" id="fechaSolicitud")
              div(class="form-group")
                div(class="col-md-12")
                  label(for="fechaArranque") Fecha de arranque:
                  input(type="text" class="form-control" name="fechaArranque" id="fechaArranque")
              div(class="form-group")
                div(class="col-md-12")
                  label(for="descripcion") Descripción:
                  input(type="text" class="form-control" name="descripcion" id="descripcion")        

              div(class="modal-footer")
                input(type="button" class="btn" data-dismiss="modal" aria-hidden="true" value="Cancelar")
                input(type="submit" class="btn btn-primary" value="Crear") 
    
  block script
  script(src="/js/template/jquery-1.7.2.min.js") 
  script(src="/js/template/excanvas.min.js") 
  script(src="/js/template/bootstrap.js")
  script(src="/js/template/base.js") 
