doctype html
html
	head
		title Iniciar sesion
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	body
		h1 Iniciar sesi칩n
		hr
		br
		p Usuario
		input(type="text" name="usuario")
		br
		p Contrase침a:
		input(type="password" name="contrase침a")
		br
		br
		input(type="submit", value="Enviar" class="btn btn-primary")
		hr
		a(href="#") Olvide mi contrase침a
		br
		a(href="/") Cancelar
